html body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    height: 100%;
}
/*navigation bar Css*/
.nav-bar{
    height: 10%;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid lightgrey;
    z-index: 10;
    background-color: rgba(0,0,0);
   
}
/*animated search bar Css*/
.search-box{
    position: absolute;
    right: 10%;
    top:30%;
    border-radius: 40px;
    height: 50px;
}
.search-txt{
    outline: none;
    border: none;
    background: none;
    border-radius: 40px;
    transition: 0.4s;
    width:0px;
    float: left;
    color: black;
    font-size: .8rem;
    line-height: 25px;
    padding: 1px;
}
.search-btn
{
    float: right;
    color: #fff;
    width: 40px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box:hover > .search-txt{
    
    width: 200px;
    padding: 3px;
}
.search-box:hover > .search-txt{
    background-color: rgba(179, 177, 177, 0.897);
}

/*Logo for music player Css*/
.logo{
    height:30px ;
    width: 40px;
    position: absolute;
    top:15%;
    left:2%;
}
.logo span{
    color: #fff; 
    position: absolute;
    left: 100%;
    margin-left:15% ;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    height: 10px;
}

/*profile pic*/
.profile-pic
{
    border-radius: 50%;
    width:50px;
    height: auto;
    position: absolute;
    right:3%;
    top:9%;
    
}

/*nav-links*/
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 25%;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(141, 141, 141);
    transition: .4s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
.nav-links a:hover
{
    color:#fff;
    
}
.burger{
    display: none;
    float: right;
    margin-top: 3%;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:768px)
{
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: -10vh;
        
        background-color: rgba(0,0,0,0.9);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    
    .search-box{
        z-index: -2;
        margin-right: 40px;
    }
    .profile-pic{
        margin-right: 30px;
        z-index: -3;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
    
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .Line2{
    opacity: 0;
}
.toggle .Line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*main contents display under here */
.main-content{
    position: absolute;
    top: 55px;
    width: 100%;
    background-color: #121212;  
    height: 210%;
}

.music-disp
{
    width: 65%;
    display: flex;
    flex-direction: column;
}

/*Playlist recomendation*/

.Playlist-recomendation img
{
    height: 200px;
    width: 250px;
    margin-top: 6%;
    margin-left: 2%;
    transition: .2s linear;
}
.Playlist-recomendation img:hover
{
    transform: scale(1.08) ;
    opacity: 0.8;
    cursor: pointer;
}

/*latest release*/
#Latest-release{
    margin-top: 2%;
    
}

#latest-text{
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
}
#latest-text a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(179, 179, 179);
    transition: .35s ease-in-out;
}
#latest-text a:hover
{
    color: #fff;
    border-bottom: 1px solid #fff;
}

/*cards inside latest release*/

.coloumn
{
    width: 30%;
    float: left;
    padding: 0px 10px;
    margin-top: 5px;
}
.row::after
{
    display: table;
    clear: both;
}
@media screen and (max-width:700px)
{
    .coloumn
    {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-top: 5px;
    }

}
.card
{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    background-color: rgb(39, 39, 39);
    text-align: center;
    border-radius: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
.song-title
{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.song-artist
{
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 0px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
#see-all a
{
    float: right;
    text-decoration: none;
    color: rgb(179, 179, 179);
    transition: .35s ease-in-out;
    margin-right: 50px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
#see-all a:hover{
    border-bottom:1px solid #fff;
    color: #fff;
}
.headings{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card a{
    position: absolute;
    top:30%;
    left: 40%;
    color: white;
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 40px;
    height: 38px;
    background-color: rgba(179, 179, 179,0.8);
}
.play-btn{
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}
.card a i
{
    margin-top:10px;
    margin-left: 4px;
}
.card:hover .play-btn{
    opacity: 1;
}
.card a:hover{
    background-color: rgba(94, 94, 94, 0.89)
}

/* fav artist*/

/*.Fav-artist img{
    width: 150px;
    height: 150px;
    margin-left: 35px;
    margin-top: 40px;
    border-radius: 50%;
}
.Fav-artist span
{
    color: #fff;
     
}*/
#Favorite-text
{
    margin-top: 10px;
}
#Favourite-text a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(179, 179, 179);
    transition: .35s ease-in-out;
    
}
.artist-img img{
    width: 150px;
    height: 150px;
    margin-left: 35px;
    margin-top: 40px;
    border-radius: 50%;
}
.artist-img
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.artist-img p
{
    color: #fff;
    margin-left: 70px;
    font-weight: 550;
}
.Fav-art
{
    margin-top: 20px;
}
.artist-details{
    position: relative;
    border-radius: 50%;
}

.artist-details a {
    position: absolute;
    top: 40%;
    left: 48%;
    color: white;
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 40px;
    height: 38px;
    background-color: rgba(179, 179, 179,0.8);
}
.artist-details a i
{
    margin-top:10px;
    margin-left: 15px;

}
.artist-details:hover .play-btn{
    opacity: 1;
}
.play-btn:hover{
    background-color: rgba(94, 94, 94, 0.89)
    
}

aside{
    position: absolute;
    left: 65%;
    width:35%;
    top:1%;
    background-color: #121212;
    
}
.side-text
{
    font-family: monospace;
    font-size: 1.5rem;
    margin-left: 1.2%;
    letter-spacing: 1px;
    color: #fff;
}
.q-text {
  margin-top: 5%;
}




@media screen and (max-width:768px)
{
    aside{
        display: none;
    }
    .main-content{
        width: 100%;
        
    }
    .music-disp
    {
        width: 100%;
    }
}

/* Song List under Q Section*/
.Song-list{
    margin-top: 25px;
    position: relative;
    width: 100%;
    cursor: pointer;
}
.Song-list img{
    width: 65px;
    height: 65px;
    margin-left: 30px;
    -webkit-box-shadow: 1px 3px 10px -7px rgba(255,255,255,0.89); 
    box-shadow: 1px 3px 10px -7px rgba(255,255,255,0.89);
    border-radius: 10px;
}
.sno
{
    color: lightgrey;
    position: absolute;
    top: 25px;
    left: 10px;
}

.song-name
{
    color: #fff;
    position: absolute;
    top: 0px;
    left: 110px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    width: 300px;
    font-weight: 600;
}
.Artist
{
    color: #fff;
    position: absolute;
    top: 35px;
    left: 110px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    width: 200px;
}
.heart i{
    color: #fff;
}
.heart
{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

/* bottom Sticky Music player*/


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 12%;
   
}
.btm-sticky-player img{
    width: 65px;
    height: 65px;
    margin-left: 30px;
    -webkit-box-shadow: 1px 3px 10px -7px rgba(255,255,255,0.89); 
    box-shadow: 1px 3px 10px -7px rgba(255,255,255,0.89);
    border-radius: 10px;
    margin-top: 0.5%;
}
.btm-sticky-player span
{
    margin: 0.5%;
}
.btm-heart{
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}
.btm-heart i{
    color: #fff;
}
.music-btn
{
    display: flex;
    justify-content: space-around;
    width: 300px;
    position: absolute;
    top: 15px;
    left: 35%;
}
.music-btn i{
color: #808080;
margin-left: 5.5px;
margin-top: 7px;

}
.circle-around
{
    border: 1px solid #808080;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.music-btn i:hover
{
    color: #fff;
   
}
.circle-around:hover
{
    border:2px solid #fff;
    border-radius: 50%;
}
#play-bar{
    width: 450px;
    height: 5px;
    background-color: rgb(85, 84, 84);
    display: flex;
    border-radius: 50px;
    position: absolute;
    top: 59px;
    left: 30%;
}
#fill
{
    height: 5px;
    width: 90px;
    background-color: #808080;
}
#handle
{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
    opacity: 0;
}
#play-bar:hover #handle{
    opacity: 1;
}

#play-bar:hover #fill{
    background-color: #be0638;
}

#sound-bar
{
    width: 80px;
    height: 5px;
    background-color: rgb(85, 84, 84);
    display: flex;
    border-radius: 50px;
    position: absolute;
    top: 59px;
    left: 70%;
}
#sound-fill
{
    height: 5px;
    width: 20px;
    background-color: #808080;
}
#sound-handle
{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
    opacity: 0;
}
#sound-icon
{
    position: absolute;
    color: #fff;
    top:53px;
    left: 68.5%;
    margin-right: 10px;
}
#sound-bar:hover #sound-handle{
    opacity: 1;
}

#sound-bar:hover #sound-fill{
    background-color: #be0638;
}

@media screen and (max-width:1180px){

    #play-bar{
        position: absolute;
        top: 0; 
        width: 60%;
        left: 0;
    }
    #fill
    {
        display: none;
    }
    #handle
    {
        display: none;
    }
}
#bottom-footer
{
    display: none;
}
/* code for artist html begins */
.img-container
{
    width: 98%;
    height: 380px;
    margin-left: 20px;
    
    top: 10.6%;
    display: flex;
    flex-direction: column;
}
.img-container img{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.artist-container
{
    position: absolute;
    top: 12%;
    left: 4.5%;
    padding: 7.68px 0px;
    font-family: 'poppins' sans-serif;
    letter-spacing: -.6px;
    font-weight: 900;
    color: #fff;
    width: 100%;
    font-size: 35px;
    line-height: 96px;
}
.artist-main{
    position: absolute;
    top: 55px;
    width: 98%;
    background-color: #121212;  
    height: 110%;
    display: flex;
    flex-direction: column;
}
.Follow-playbtn button{
    background: none;
    color: #fff;
    padding: 10px;
    outline: none;
    border: 1px solid #808080;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 120px;
    font-weight: 600;
    font-family: 'Poppins' sans-serif;
    cursor: pointer;
}
.Follow-playbtn button:hover{

    border:2px solid #fff;
}

.space-around
{
    width: 52px;
    height: 52px;
    margin-left: 40px;
    border-radius: 50%;
    margin-top: 12px;
    position: absolute;
    background-color: #be0638;
    cursor: pointer;
}
.space-around i
{
    margin-left: 18px;
    color: #fff;
    margin-top: 13px;
    font-size: 1.6rem;
}
.three-dots{
    height: 14px;
    width: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 220px;
    top:360px;
    cursor: pointer;
}
.dot1{
    margin-left: 4px;
    
    border-radius: 50%;
    background-color: #fff;
    width: 6px;
    height: 6px;
}
.dot2{
    margin-left: 4px;
    
    border-radius: 50%;
    background-color: #fff;
    width: 6px;
    height: 6px;
}
.dot3{
    margin-left: 4px;
    
    border-radius: 50%;
    background-color: #fff;
    width: 6px;
    height: 6px;
}
.space-around:hover{
    border: 1px solid black;
}
.dots-list{
    background-color: #282828;
    width: 150px;
    list-style: none;
}
.dots-list li a{
    color: #595959;
    cursor: pointer;
}
.dots-list li 
{
    padding-top: 10px;
}
.dots-list li :hover
{
    color: #fff;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    top: 423px;
    left: 250px;
    background-color: #282828;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: #b3b3b3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover 
  {
    background-color: rgb(85, 84, 84);
    color: #fff;
}
.show {
    display:block;
}


/* Song displaying under the section*/

.three-dots-indetail
{
    display: flex;
    position: absolute;
    top: 32%;
    right: 10%;
}

.Song-list:hover  
{
    background-color: #282828;
    opacity: 1;
}

